extends blocks/base.pug

block title 
	title EVA

block style-libs

	// Шрифты
	link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap" rel="stylesheet")

	// Стили с сайта
	link(rel="stylesheet", href="css/app.ad21197932de93ab302.css")

	// Плагины
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	//- link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")
	//- link(rel="stylesheet", href="css/libs/aos.css")

block content

	// section-eva
	section.section-eva.main-section.section_dark
		.container
			h1.title-site_h1 EVA - торгующий на Binance SPOT
			.section-eva__row 
				.section-eva__col 
					.section-eva__item 
						.section-eva__item-title Средств под управлением робота:
						.section-eva__item-text 
							span 167 377,95 
							| USDT
						.section-eva__item-text2 167 377,95 USDT
				.section-eva__col 
					.section-eva__item 
						.section-eva__item-title Заработано роботом:
						.section-eva__item-text 
							span 167 377,95 
							| USDT
						.section-eva__item-text2 167 377,95 USDT
				.section-eva__col 
					.section-eva__item 
						.section-eva__item-title Количество сделок:
						.section-eva__item-text 
							span 167 377,95 
							| USDT
						.section-eva__item-text2 20
	//	/section-eva
			
block js-libs
	script(src="js/libs/jquery.min.js")
	//- script(src="js/libs/jquery.fancybox.min.js")
	//- script(src="js/libs/slick.min.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="js/libs/aos.js")
	//- script(src="js/libs/circle-progress.min.js")
	//- script(src="js/libs/bootstrap.bundle.min.js") 
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")