.section-eva {
  .title-site_h1 {
    margin-bottom: 55px;
  }
  &__row {
    @include row-flex();
    margin-top: -40px;
    margin-bottom: 30px;
  }
  &__col {
    @include col(4);
    @include col-sm(6);
    @include col-xs(12);
    margin-top: 40px;
  }
  &__item {
    height: 100%;
    min-height: 160px;
    padding: 20px 23px;
    background: linear-gradient(0.0deg, #5929f5 -25%, #f94190 50%, #ffbd47 125%);
    font-weight: 300;
    position: relative;
    transition: 0.3s;
    &:before {
      content: '';
      display: block;
      background-color: #0c0628;
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
    }
    &:hover {
      box-shadow: 0 10px 20px rgba(143,49,210,.3);
    }
  }
  &__item-title {
    margin-bottom: 18px;
    position: relative;
    z-index: 2;
  }
  &__item-text {
    margin-bottom: 6px;
    position: relative;
    z-index: 2;
    span {
      font-size: 26px;
      font-weight: bold;
    }
  }
  &__item-text2 {
    color: #b5b5bd;
    position: relative;
    z-index: 2;
  }
  &__pagination {
    display: flex;
    align-items: center;
    font-weight: 300;
  }
  &__pagination-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: #100a2f;
    border-radius: 5px;
    border-bottom: none;
    svg {
      fill: #3d3853;
      transition: 0.2s;
    }
    &:hover {
      background-color: #502df0;
      svg {
        fill: #fff;
      }
    }
  }
  &__pagination-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    li {
      a {
        padding: 10px 5px;
        color: #71717b;
        border-bottom: none;
        &:hover {
          color: #fff;
        }
      }
      span {
        color: #71717b;
      }
    }
  }
  &__pagination-active {
    color: #fff !important;
  }
  @media (max-width: $break_xs) {
    .title-site_h1 {
      margin-bottom: 30px;
    }
    &__row {
      margin-top: -20px;
    }
    &__col {
      margin-top: 20px;
    }
    &__pagination {
      justify-content: center;
    }
  }
}